* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(120deg, rgba(213, 155, 222, 1) 35%, rgba(0, 255, 217, 1) 96%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel {
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 20px;
    width: 400px;
}


#left {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #9dc2bc;
    border-radius: 2px;
    padding: 3px 4px;
    border: none;
    z-index: 999;
}

#right {
    position: absolute;
    top: 50%;
    right: 0;
    border: none;
    background-color: #9dc2bc;
    padding: 3px 4px;
    border-radius: 2px;
    z-index: 999;
}

.circles {
    display: flex;
    gap: 10px;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: white;
    cursor: pointer;
}

.circle:hover {
    background-color: aquamarine;
}

button {
    border: none;
}

img.active {
    display: block;
    animation: fadeImg 4s;
}

@keyframes fadeImg {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}


@media (min-width: 768px) {
    .carousel {
        width: 800px;
    }

    .circles {
        gap: 20px;
    }

    .circle {
        width: 25px;
        height: 25px;
    }
}